/* ---- Basic CSS reset ------ */
*,
:after,
:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    background-color: #FEE7DF;
    font-family: "Montserrat", sans-serif;

}
/* HEADER*/


.logo{
    position: absolute;
    width: 232px;
    height: 232px;
    left: 80px;
    top: 33px;
    z-index: 999;
    }
   /* BONE */ 
.bone-quiz{
    position: absolute;
    width: 139px;
    height: 26px;
    left: 16px;
    top: 33px;
    z-index: 0;

    }

.bone-help{
    position: absolute;
    width: 139px;
    height: 26px;
    left: 19px;
    top: 33px;
    z-index: 0;
}

    .bone-pleje{
    position: absolute;
    width: 122px;
    height: 19px;
    left: 507px;
    top: 52px;
    z-index: 0;
    }
    /*-------Menu----------*/
    
    .dropdown-container {
      display: flex;
      gap: 60px; 
      position: absolute;
    width: 143px;
    height: 30px;
    left: 441px;
    top: 77px;
    }
    
    /* Container for individual dropdown */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Style for dropdown button */
    .dropbtn {
      background-color: transparent;
      color:#801100;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: 180px;
      font-weight: 400px;
    }
    
    /* Container for dropdown content */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      width: 180px;
      border-radius: 0px 0px 10px 10px;
    }
    
    /* Style for links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 15px 15px 15px 15px;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Change the background color of the dropdown button on hover */
    .dropdown:hover .dropbtn {
      background-color:white;
      border-radius: 15px 15px 0px 0px;
    }
    
    /*-------dropdown for sidste 2 punkter*/
    
    /* Change the background color of the dropdown button on hover */
    .dropdown1:hover .dropbtn {
      background-color:white;
      border-radius: 15px 15px 15px 15px;
    }
/* Den øvereste title på siden*/
.quiz-title{
    font-family: "Nunito Sans", sans-serif;
    padding-top: 21%;
    margin-bottom: 5%;
    text-align: center;
    color: #801100;
}
/* baggrundsbillede - mønstret som kan ses */
.bgi{
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow-y: hidden;
}
.quiz-wrapper{
width: 100%;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
}

.quiz-box{
width: 750px;
background-color:#FFFFFF;
padding: 20px;
border-radius: 30px;
margin-left: 24%;
}


.spoergsmaal{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #801100;
}

.svar-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 69px;
    gap: 35px 15px;
}

.svar-box .box{
width: calc(50% - 10px);
position: relative;
}
.svar-valg{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.svar-box .box label .p.svar-valg{
    text-align: center;
}

.svar-box .box label{
display: flex;
flex-direction: column;
align-items: center;
background-color: #FEE7DF;
color: #801100;
padding: 20px 25px;
border-radius: 20px;
font-size: 18px;
font-weight: 600;
cursor: pointer;
}

.hunde-box1, .hunde-box2{
    background-color: #FFFFFF !important;
}
.hunde-valg{
    text-align: center;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}

.hunde-img{
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
}


/* hunde ting her*/
.hunde-svar{
    display: flex;
    flex-wrap: wrap;
    margin-top: 69px;
    gap: 35px 15px;
}

.hunde-svar .hunde-box{
width: calc(50% - 10px);
position: relative;
border: 1px solid #801100;
border-radius: 21px;
}

.hunde-svar .hunde-box label .p.svar-valg{
    text-align: center;
}

.hunde-svar .hunde-box label{
display: flex;
flex-direction: column;
align-items: center;
background-color: #FEE7DF;
color: #801100;
padding: 20px 25px;
border-radius: 20px;
font-size: 18px;
font-weight: 600;
}

.read-more label{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEE7DF;
    color: #801100;
    padding: 20px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 250px;
    height: 32px;
    margin-left: 13%;
    margin-bottom: 5%;
    cursor: pointer;
    }

    p.laes {
        margin-top: -5%;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

    
     .read-more label:hover{
        background-color: #801100;
        color:#FFFFFF;
    }

        
    .svar-box .box label:hover{
        background-color: #801100;
        color:#FFFFFF;
    }
/*
                                                                        side omkring pleje og pasning af dyr 
*/
.pleje-bgi{
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow-y: hidden;
}

.knap-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

button.dyre-knap {
    width: 160px;
    height: 160px;
    border-radius: 109%;
    margin: 0px 36px 0px 36px;
    background-color: #FFFFFF;
    cursor: pointer;

}

p.DYR {
    position: relative;
    top: 29%;
    left: 2%;
    color: #801100;
    font-weight: 600;

}

p.dyr-udstyr {
    position: relative;
    top: 29%;
    left: 2%;
    color: #801100;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
p.pels-pleje {
    position: relative;
    top: 42%;
    left: 2%;
    color: #801100;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
¨
p.pels-pleje {
    position: relative;
    top: 36%;
    left: 2%;
    color: #801100;
    font-weight: 600;
}

p.VANER {
    position: relative;
    top: 32%;
    left: 2%;
    color: #801100;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

button.dyre-knap:hover {
    border: 4px solid #801100; 
}
.info-headline{
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    color: #801100;
    margin-top: 10%;
}
.mere-info{
    text-align: center;
    color: #801100;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

p.hunde-pasning {
    margin: 8%;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
}

.info-wrapper {
    display: flex;
    justify-content: space-evenly;

}

.info-box1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 143px;
    align-content: center;
}

.info-box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 143px;
    align-content: center;
}

button.circle {
    width: 96px;
    height: 96px;
    background-color: #F5B1B0;
    border-radius: 55%;
    margin-left: 8%;
}

img.pleje-hund {
    position: absolute;
    margin-top: 3%;
    height: 76%;

}

img.text-box {
    position: absolute;
    left: 2%;
    width: 18%;
    height: 17%;
}

button.text-info1 {
    position: absolute;
    margin-top: -2.49%;
    margin-left: -20%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #F5B1B0;
}

button.text-info2 {
    position: absolute;
    margin-top: 14.5%;
    margin-left: -20%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #f5b1b0;
}

button.text-info3 {
    position: absolute;
    margin-top: 29.5%;
    margin-left: -20%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #f5b1b0;
}

button.text-info1-2 {
    position: absolute;
    margin-top: -2.49%;
    margin-left: 8%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #F5B1B0;
}

button.text-info2-1 {
    position: absolute;
    margin-top: 14.5%;
    margin-left: 8%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #f5b1b0;
}

button.text-info3-1 {
    position: absolute;
    margin-top: 29.5%;
    margin-left: 8%;
    width: 274px;
    height: 146px;
    border-radius: 30px;
    background-color: #f5b1b0;
}

.info-container {
    margin-top: 20px;
    text-align: center;
}

.info-box {
    display: none;
    background-color: #F5B1B0;
    padding: 20px;
    border: 4px solid #801100;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 910px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    text-align: justify;
}

p.info-box-text {
    margin: 8px 32px 0 32px;
    font-size: medium;
}

/*
                                                                        nød pasning + 1812
*/
.headline-noed-hjaelp{
    font-family: "Nunito Sans", sans-serif;
    margin-top: 12%;
    padding-top: 8%;
    text-align: center;
    color: #801100;
    font-size: 48px;
}
.help-bgi{
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow-y: hidden;
}
.help-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 26%;
    background-color: #D85C5A;
}

p.heelp-headline {
    text-align: center;
    font-size: 78px;
    margin-top: 1%;
    font-style: italic;
}

p.help-text {
    text-align: center;
    font-size: 48px;
}

.sussie-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 51%;
    height: 373px;
    margin-top: 57%;
    background-color: #F5B1B0;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
}

p.sussie-text {
    position: absolute;
    right: -65%;
    font-size: 34px;
    top: 31%;
    font-family: "Nunito Sans", sans-serif;
}
p.sussie-headline {
    margin: 8%;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    color: #801100;
}



.mussie-container {
    position: absolute;
    display: flex;
    width: 51%;
    height: 373px;
    margin-top: 101%;
    margin-left: 49%;
    background-color: #F5B1B0;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 30px;
}

p.mussie-text {
    position: absolute;
    left: -78%;
    font-size: 32px;
    top: 41%;
    font-family: "Nunito Sans", sans-serif;
}

p.mussie-headline {
    margin: 8%;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    color: #801100;
}

img.data {
    position: absolute;
    top: 383%;
    width: 75%;
    left: 12.5%;
}

h2.lussie {
    position: absolute;
    margin-left: 49%;
    top: 361%;
    font-size: 48px;
    font-family: "Nunito Sans", sans-serif;
}

.nood-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 51%;
    height: 373px;
    margin-top: 200%;
    background-color: #F5B1B0;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
}

p.nood-text {
    margin: 8%;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #801100;
}

    h3.nood-headline {
        position: absolute;
        right: -65%;
        font-size: 34px;
        top: 0%;
    }
    ul.nood-liste {
        position: absolute;
        right: -94%;
        font-size: 21px;
        top: 31%;
        list-style:circle !important;
    }

    ol {
        margin: 3%;
        list-style: circle !important;
    }

    /*--------------------------------------------
-                                            -
-                   FOOTER                   -
-                                            -
---------------------------------------------*/

.footer-pleje{

    margin-top: 990px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}

.help-footer{
    margin-top: 3790px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    
}

/*
                                                                            footer
*/
.quiz-footer{
    margin-top: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}
/* Skaber plads mellem elementerne i footeren */
footer section{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 380px;
}

/* Gør overskrifterne i footeren bold */
.footer_overskrift{
    font-weight: bold;
}

.footer_grafik{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

#logo_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#text_right{
    text-align: right;
}